<div class="page">
  <div class="h-100">
    <div class="row align-items-center h-100">
      <form class="form-container col-md-6 offset-md-3 col-8 offset-2" #f="ngForm" (ngSubmit)="signIn(f.value.username,f.value.password)">
        <div  class="text-center">
          <img alt="Datarox Logo" src="assets\image\logo-datatox.svg" class="img-fluid">
        </div>
        <div>
          <div *ngIf="invalidlogin" class="alert alert-danger">Adresse email et/ou mot de passe invalide.</div>
          <label for="inputEmail" class="sr-only">Adresse email</label>
          <input type="email" id="inputEmail" name="username" ngModel class="form-control" placeholder="Adresse email" required autofocus>
        </div>
        <div>
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Mot de passe" required>
        </div>
        <div>
          <button class="btn btn-lg btn-secondary btn-block" type="submit">Connexion</button>
        </div>
        <div>
          <div class="text-right">
            <a routerLink="/resetpwd">Mot de passe oublié? </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
